* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.textbox {
    width: 100%;
    height: 30vh;
    margin: 20px auto;
    border: 1px solid #999;
    outline: none;
}