.keyboard {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #004134;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;

    &__key {
        position: relative;
        display: inline-flex;
        max-width: 90px;
        width: 5.4%;
        height: 40px;
        margin: 3px;
        padding: 0;
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;

        &:active,&--press {
            background-color: rgba(255, 255, 255, 0.05);
        }

        &--wide {
            width: 12%;
            font-size: 0.9rem;
        }

        &--large-wide {
            width: 9%;
        }

        &--extra-wide {
            max-width: 50rem;
            width: 31%;
        }

        &--disable {
            background-color: rgba(0, 0, 0, 0.4);
            cursor: unset;
            &:active {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        &--active {
            background-color: #08ff00;
        }

        &--dark {
            background-color: rgba(0, 0, 0, 0.25);
        }

        span {
            position: absolute;
            top: -2px;
            left: 2px;
        }
    }
}